.register{
    background-image: url('../images/register_bg.svg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    font-family: 'montserrat';


    @include breakpoint(medium-large-desktop-min) {
        max-width: 1366px;
        margin: 0 auto;
        width: auto;
    }
    @include breakpoint(ipad-max) {
            height: auto;
    }

    &__block{
        margin: 32.5px 0px 46px;
        display: flex;
        flex-wrap: nowrap;
        height: 100%;
        justify-content: space-between;

        @include breakpoint(ipad-max) {
            flex-wrap: wrap;
            justify-content: space-around;
        }
    }

    &__block-right{
        align-self: center;
        width: 661px;
        height: 456px;
        img{
            width: 100%;
            height: 100%;
        }
        @include breakpoint(ipad-max) {
            background-color: transparent;
            margin-top: 45px;
            width: 95%;
            height: auto;
        }
    }
    &__block-left{
        background-color: #FFFFFF;
        box-shadow: 0px 5px 6px rgba(0,0,0, 0.16);
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        align-self: center;
        padding: 24px 54px 33px;
        margin-left: 8%;

        @include breakpoint(large-desktop-max){
            margin-left: 5%;
        }
        @include breakpoint(ipad-max){
            width: 75%;
            height: auto;
            margin-left: 0%;
        }
        @include breakpoint(mobile-max){
            width: 90%;
            padding: 24px 30px 33px;
        }
        @include breakpoint(mobile-l){
            padding: 24px 20px 33px;
        }
    }
    .register__form{
        display: flex;
        flex-direction: column;
        width: 370px;

        @include breakpoint(ipad-max) {
            width: 100%;
        }

        &-label{
            font-size: 13px;
            margin-bottom: 13px;
            font-weight: 500;
            color: #494949;
        }
        &-field{
            margin-bottom: 16px;
            padding: 16px 14px 15px 14px;
            font-size: 14px;
            border: 1px solid #58545445;
            font-weight: 500;
            &::placeholder{
                color: #93999E;
            }

             @include breakpoint(mobile-m){
                padding: 16px 6px 15px 8px;
            }
        }
        &-field:focus{
            outline: none;
            border: 1px solid #707070;
        }
        &-label--check{
            margin: 8px 0px 16px;
            font-size: 13px;
            font-weight: 500;
            color: #494949;
        }
        &-checkbox{
            margin-right: 13px;
            width: 20px;
            height: 20px;
            border: 1px solid #707070;
            vertical-align:middle;
            position: relative;
            bottom: 1px;
        }
        &-submitbtn{
            margin-top: 11px;
            height: 37px;
            color: #FFFFFF;
            font-size: 16px;
            border: none;
            cursor: pointer;
            font-weight: 500;
            background-color: #F58025;
        }
        &-submitbtn:hover{
            border: 1px solid #F58025;
            color: #F58025;
            background-color: transparent;
        }
        &-anchorblock{
            margin-top: 7px;
            text-align: end;
        }
        &-anchorblock-text{
            text-decoration: none;
            font-size: 13px;
            font-weight: 500;
            color: #F58025;
        }
    }
}
